<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ERP.Dao.Nhibernate.NUnit.Properties.Settings.erpConnectionString"
            connectionString="Server=localhost;Database=erp;User Id=sa;Password=8I4pjjbw;"
            providerName="MySql.Data.MySqlClient" />
        <add name="ERP.Dao.Nhibernate.NUnit.Properties.Settings.erpConnectionString1"
            connectionString="Data Source=VIKTOR-NOTEBOOK;Initial Catalog=erp;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>