<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ERP.Dao.Nhibernate.NUnit.Properties.Settings.erpConnectionString"
            connectionString="server=localhost;User Id=root;password=viktorjose;Persist Security Info=True;database=erp_test"
            providerName="MySql.Data.MySqlClient" />
        <add name="ERP.Dao.Nhibernate.NUnit.Properties.Settings.erpConnectionString1"
            connectionString="server=localhost;User Id=root;password=viktorjose;Persist Security Info=True;database=erp"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>